p {
  text-align: justify;   /* left, right, justify */

}

body {
  background-image: url(imagens/fundo.png);
  font-family: Arial, "Arial";
  margin-left: 10%;
  margin-right: 10%;
}

img {
  border: 4px solid limegreen;
}

h1{
	font-family: TimesNewRoman, "Times New Roman";
	font-size: 28px;
	color: limegreen;
}

h2{
  font-family: TimesNewRoman, "Times New Roman";
	font-size: 24px;
	color: limegreen;
}